header {
  display: flex;
  justify-content: center;
  border: 10px solid red;
  margin: 0 auto;
}

.header-image {
  height: 300px;
}

nav {
  display: flex;
  margin: 0 auto;
  align-items: center;
  background-color: #212233;
  height: 99px;
  border: 10px solid red;
  padding: 10px 25px;
}

.nav--logo-text {
  font-size: 22px;
  margin: 0;
  margin-right: auto;
  font-weight: 700;
  color: #66BAFB;
}

.nav--title {
  font-size: 18px;
  margin: 0;
  color: #FFFFFF;
  font-weight: 600;
}

.nav--icon {
  height: 80px;
  margin-right: 7px;
}

main {
  padding: 57px 27px;
  color: white;
  margin: 0 auto;
  border: 10px solid red;
}

.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main--facts {
  margin-top: 46px;
}

.main--facts > li {
  line-height: 19px;
  padding-block: 10px;
}

.main--facts> li::marker {
  color: #61DAFB;
  font-size: 1.4rem;
}